{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <li class="list-group-item">
            <form method="post" action="{% url 'toggle_watchlist' listing.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary me-2">
                    {% if listing in user.watchlist.all %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </button>
                {% if listing.seller.id == user.id %}
                    <button type="submit" class="btn btn-primary" formaction="{% url 'close_auction' listing.id %}">
                        Close Auction
                    </button>
                {% endif %}
            </form>
        </li>
    {% endif %}

    <h2>Listing: {{ listing.title }}</h2>
 
    {% if listing.active == False %}
        <h5>Congrats, {{user.username}}! You won the auction!</h5>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{ listing.picture }}" class="card-img-top" alt="{{ listing.title }} listing">
                <div class="card-body">
                    <p class="card-text">{{ listing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Current Price: </strong>${{ listing.price }}</li>
                    {% if user.is_authenticated %}
                        <li class="list-group-item">
                            <form method="post" action="{% url 'bid' listing.id %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Place Bid</button>
                            </form>
                        </li>
                    {% endif %}
                    <li class="list-group-item"><strong>Category: </strong>{{ listing.category }}</li>
                    <li class="list-group-item"><strong>Total Bids: </strong>{{ bid_count }}</li>
                    <li class="list-group-item"><strong>Total Watchers: </strong></li>
                </ul>
                </div>
        </div>
    </div>
{% endblock %}
